@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", system-ui, sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  background-color: #faf9ff;
  color: #1e1b2e;
}
